.root {
    -fx-background-color: #121212;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.play-pause {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.nav-buttons {
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.song-info {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}

.album-cover {
    -fx-background-color: #1C1C1C;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-background-radius: 10px;
}

.controls {
    -fx-alignment: center;
}

.slider {
    -fx-background-color: #282828;
    -fx-accent: #1DB954;
}

.slider:focused {
    -fx-accent: #1DB954;
}
